Repository Prefa-IA/app-prefa-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Refactor BillingPersonalInfoFields component for improved structure and readability; adjust label and input formatting for consistency.
  src/components/perfil/BillingPersonalInfoFields.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Refactor BillingPersonalInfoFields component to enhance code readability and maintain consistent formatting for labels and inputs.
  src/components/perfil/BillingPersonalInfoFields.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Enhance error handling in index.tsx and use-captcha hook; add resetKey state to manage reCAPTCHA reset in RegistroForm and Recaptcha components for improved user experience.
  src/components/common/Recaptcha.tsx
  src/components/usuario/RegistroForm.tsx
  src/hooks/use-captcha.ts
  src/hooks/use-registration-form.ts
  src/index.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Remove Prettier integration from ESLint configuration to streamline linting rules and avoid conflicts with formatting tools.
  .eslintrc.js
Due: eslint --fix, prettier --write

fix: quitted useless prettier prevention since it breaks prod compilation
  src/hooks/use-single-address-search-execution.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Create main.yml
  .github/workflows/main.yml
Due: prettier --write

Create .env file with environment variables
  .github/workflows/main.yml
Due: prettier --write

Refactor use-map-initialization hook to prioritize environment style URL; improve error handling for MapTiler style fetching and fallback to default demotiles.
  src/hooks/use-map-initialization.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Update default SEO title and description for improved clarity and branding.
  src/components/SEO.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Update SEO titles and descriptions across multiple components for improved clarity and consistency.
  public/index.html
  src/components/Home.tsx
  src/components/usuario/LoginForm.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Enhance ImageViewer component with improved error handling and user feedback; update ZoningDataTable to handle additional catalogation data fields for better data representation.
  src/components/parcel-data/DocumentViewerSections.tsx
  src/components/parcel-data/ParcelDataTables.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Refactor ImageViewer error handling to utilize refs for improved state management; streamline error callback execution on image load failures, enhancing user feedback and overall reliability.
  src/components/parcel-data/DocumentViewerSections.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Refactor ImageViewer error handling to utilize refs for improved state management; streamline error callback execution on image load failures, enhancing user feedback and overall reliability.
  src/App.tsx
  src/components/CompartirInforme.tsx
  src/components/ListaInformes.tsx
  src/components/parcel-data/DocumentViewerSections.tsx
  src/components/parcel-data/ParcelDataSectionsHelpers.tsx
  src/components/registros/InformeComponents.tsx
  src/components/registros/ListaInformesContent.tsx
  src/components/registros/ListaInformesMain.tsx
  src/components/reportes/ReportFooter.tsx
  src/hooks/use-informes-list.ts
  src/hooks/use-informes-share.ts
  src/services/api.ts
  src/types/enums.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Refactor URL normalization in API service to enhance handling of linkImagen fields; introduce separate normalization functions for improved code clarity and maintainability.
  src/services/api.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

lint fix
  src/components/CompartirInforme.tsx
  src/components/PrintInforme.tsx
  src/components/parcel-data/DocumentViewerSections.tsx
  src/services/api.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Update canonical URL in index.html to point to the official website, enhancing SEO and ensuring accurate link representation.
  public/index.html
Due: none

Add CareersPage component and integrate into routing; implement BasicSearchAdditionalSections for enhanced search results display
  src/App.tsx
  src/components/CareersPage.tsx
  src/components/buscar-direccion/BasicSearchAdditionalSections.tsx
  src/components/buscar-direccion/BuscarDireccionPageContent.tsx
  src/components/buscar-direccion/SearchResult.tsx
  src/components/consulta-direccion/ConsultaDireccionContentWrapper.tsx
  src/components/generales/ComingSoonAlert.tsx
  src/components/generales/Footer.tsx
  src/components/parcel-data/PlusvaliaCalculation.tsx
  src/components/tutorial/steps/Step2BuscarDireccion.tsx
  src/constants/tutorial.ts
  src/services/api.ts
  src/types/enums.ts
  src/utils/parcel-calculations.ts
  tests/e2e/consultas/consulta-basica.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Refactor parcel calculation logic to simplify plusvalia calculations; remove conditional checks for axbRecalculado and plusvaliaFinalFinal, enhancing code clarity and maintainability.
  src/utils/parcel-calculations.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add GitHub Actions workflow for prev-22 deployment
  .github/workflows/prev-22-deploy.yml
Due: prettier --write

Add SMPRequestModal component for manual SMP input; implement validation for SMP format and enhance user experience with error handling and keyboard interactions.
  src/components/generales/SMPRequestModal.tsx
  src/services/api.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add new favicon files and update index.html for improved branding; introduce first-50-tests.txt for initial test cases.
  app-prefa-frontend/first-50-tests.txt
  public/favicon.png
  public/faviconPrefa.ico
  public/index.html
  public/manifest.json
  src/components/CareersPage.tsx
  src/components/buscar-direccion/BasicSearchAdditionalSections.tsx
  src/components/generales/ComingSoonAlert.tsx
  src/components/generales/Footer.tsx
  src/components/generales/NavbarContent.tsx
  src/components/generales/SMPRequestModal.tsx
  src/services/api.ts
  src/types/enums.ts
  src/utils/parcel-calculations.ts
  tests/e2e/.auth/user.json
  tests/e2e/consultas/consulta-basica.spec.ts
  tests/e2e/consultas/consulta-completa.spec.ts
  tests/e2e/informes/detalle-informe.spec.ts
  tests/e2e/informes/gestion-informes.spec.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{js,jsx})
  bash -c 'tsc --noEmit': any of: *.{ts,tsx}
